<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href=" {{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
</head>
<body>
    <form name="login-form" action="/login" method="post">
        <label>Введите логин</label><br/>
        <input name="login" type="text" required/><br/>
        <label>Введите пароль</label><br/>
        <input name="password" type="password" required/>
        <input content="Done" type="submit">
    </form>
</body>
</html>
