<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href=" {{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
</head>
<body>
    <form name="register-form" action="/register" method="post" enctype="multipart/form-data">
        <label>Введите логин</label><br/>
        <input name="username" type="text" required/><br/>
        <label>Введите пароль</label><br/>
        <input name="password" type="password" required/><br/>
        <label>Повторите пароль</label><br/>
        <input name="password_repeat" type="password" required><br/>
        <input type="file" name="image" accept="image/*" required /><br/>
        <input content="Done" type="submit">
    </form>
</body>
</html>
